*{
    margin: 0;
    box-sizing: border-box;}
body{
    position: relative;
    width: 100%;}
.anuncio{
    width: 100%;
    align-items: center;
    background-color: black;
    height: 20px;
    overflow: hidden;}   
.anuncioDI{
    text-align: center;
    align-items: center; }
.anuncio1{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0%;
    justify-items: center;
    -webkit-animation: scroll 10s linear infinite;
    animation: scroll 10s linear infinite;}
.anuncioT1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;}
.anuncioI{
    width: 6%;}     
.cabeza{
    display: flex;}
header{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20.5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:red;
    justify-content: space-between;}
.volgaS .logoP{
    width: 36.5%;
    background: red;}
.menu{
    width: 70%;}
.menu,.hb{
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    overflow: hidden;
    padding: 40 0 0 0;
    transition: all 2s;}
.imaHouse{
    position: relative;
    overflow: clip;
    border-radius: 100%;
    transition: all 2s;
    width: 60px;}
.span1{ 
    top: 90px;
    left: 60%;
    width: 37.5%;
    height: 3px;
    position: absolute;
    background: red;
    transition: all 3s;}
 .hb:hover{
    color: black;}
.imaHouse:hover{
    background-color: black;}
.span1:hover{
    background: black;
    width: 0%;}
.swiper{
        display: flex;
        align-items: center;
        justify-content: center;}
.catalogoP{
    width: 60%;
    display: block;
    position: relative;
    justify-content: center;  
    align-items: center;
    display: block;}
.imagenCatalogo{
    margin-top: 10%;
    margin-left: 0%;
    width: 106%;
    box-shadow: 6px 10px 20px;}
.mySwiper{
    background: #323232;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000;
    margin: 0%;
    padding: 0%;}  
.swiper-catalogoP{
    width: 100%;
    display: flex;
    padding: 50px 0 15px 0;}
.swiper-slide{
    width: 300px;
    height: 500px;
    background-color: #323232;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;}
.iconoimports{
    width: 80%;}
.CatalogoM{
    padding: 0.5%;
    text-align: center;
    color: #323232;
    letter-spacing: 2px;
    font-size: 15px; 
    margin: 6% 0 0 0;}
.slideri{
    width: 96vw;
    background-color: rgb(218, 214, 214);
    margin: auto;
    height: auto;
    white-space: nowrap;
    overflow: hidden;}
.slideri .slideri-track{
    display: inline-flex;
    align-items: center;
    width: calc(400px * 8);
    animation: scrollI 40s infinite linear;
    -webkit-animation: scrollI 40s infinite linear;}
.slideri .slidei{
    width: 400px;}
.slideri .slidei .ima_slider{
    width: 100%;
    border-radius: 100%;
    left: 10%;
    filter: drop-shadow(0 26px 22px black);}
.ima_slider:hover{
    scale: 1.6;}   
.titulos2{
    display: flex;
    justify-content: center;
    background-color: #000;}
.products{
    display: flex;
    width: 100%;
    height: 500px;}
.products img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .6s ease;}    
.products img:hover{
    cursor: crosshair;
    width: 300px;
    border-radius: 6%;
    opacity: 1;
    filter: contrast(120%);}
.animacionTexto{
    display: flex;
    justify-content: center;
    background-color: #000;}
.ATexto{
    margin: 16 0;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(-250deg, #12c2e9 0%, #c471ed 50%, #f64f59 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textoAnimacion 2.5s linear infinite;
    font-size: 3em;}  
.sigaRedes{
    width: 100%;
    align-items: center;
    font-family: Roboto;
    align-content: center;
    background-color: #323232;}
.cuaRedes{
    background-color: black;
    display:flex;
    width: 100%;
    padding: 0 20 3 20;
    height: 350px;}
.tarjeta1{
    border-radius: 2rem;
    width: 100%;
    border-radius: 10%;
    position: relative;
    margin: 0px 1px;
    overflow: hidden;
    padding: 0 20px 0;
    justify-content: center;
    align-items: center;}
.tarjeta1::before{
    content: '';
    position: absolute;
    height: 366px;
    width: 396px;
    z-index: 0;
    background-image: conic-gradient(#12c2e9, #77dcf3 0%, transparent);
    animation: rotemami 6s linear infinite;}
@keyframes rotemami{
    from{
        transform: rotate(0deg);
    }to{transform: rotate(-360deg);}}  
.tarjeta1::after{
    content: "";
    height: 336px;
    width: 386px;
    left: 2%;
    top: 1%;
    bottom: 2%;
    position: absolute;
    border-radius: 10px;
    background-color: #000;}
.tarjeta2{
    border-radius:2rem;
    width: 100%;
    height: 306px;
    border-radius: 10%;
    position: absolute;
    margin: 0px 1px;
    overflow: hidden;
    z-index: 1;
    padding: 0 20px 0;
    justify-content: center;
    align-items: center;}    
.nomredes h3{
    bottom: 45px;}    
.botonR{
    display: flex;}
.liR{
    list-style: none;
    margin: 0 20px;}
.liR2{
    list-style: none;
    margin: 0 20px;}
.liR3{
    list-style: none;
    margin: 0 20px;}
.imaR{
    font-size: 40px;
    padding: 0 16px;}
.botonA{
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color:white;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    transform: rotate(-30deg) skew(25deg);
    box-shadow: -20px 20px 10px rgba(201, 197, 197, 0.5);}
.botonA:before, .botonA:after{
    content: '';
    bottom: 10%;
    position: absolute;
    background: gray;
    transition: var(--time);}
.botonA:before{
    top: 10px;
    left: -20;
    height: 100%;
    width: 20px;
    transform: rotate(0deg) skewY(-45deg);}
.botonA::after{
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    transform: rotate(0deg) skewX(-45deg);}
.botonA:hover{
    transform: rotate(-30deg) skew(25deg) translate(25px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    color: white;}
.liR:hover .botonA{
    background-color: #3b5998;}
.liR:hover .botonA:before{
    background-color: #365492;}
.liR:hover .botonA:after{
    background-color: #4a69ad;}
.liR2:hover .botonA{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4,#C13584, #E1306C,#FD1D1D);}
.liR2:hover .botonA:before{
    background:linear-gradient(45deg, #405DE6, #5851DB, #833AB4);}
.liR2:hover .botonA:after{
    background:linear-gradient(45deg, #405DE6, #5851DB, #833AB4,#833AB4, #E1306C,#FD1D1D);}
.liR3:hover .botonA{
    background:linear-gradient(45deg, #000000, #00f2ea, #ff0050, #ff0050);}
.liR3:hover .botonA:before{
    background: linear-gradient(45deg, #ff0050,#ff0050, #00f2ea, #000000);}
.liR3:hover .botonA:after{
    background: linear-gradient(45deg, #ff0050, #00f2ea, #000000);}
    /*.cuaRedes img{
    border-radius: 6%;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.cuaRedes img:hover{
    cursor: crosshair;
    width: 740px;
    opacity: 1;
    filter: contrast(100%);
}*/
.catalogoInferior{
    width: 100%;
    display: flex;
    margin: 0% 0% 2% 0%;}
.targetaIP{
    width: 100%;
    margin: 0 0 0 40;
    display: grid;
    grid-template-columns: repeat(4,1fr);}
.c1{
  width: 300px;
  height: 500px;
  background-color: rgb(241, 231, 217);
  box-shadow: 0 0 20px rgb(189, 182, 182);
  padding: 9px;
  margin: 0 0 12 0;
  text-align: center;}
.imavol{
 width: 140px;
 margin: 0 10 0 80;}
.iCa{
    margin-top: 4%;
    margin-left: 0%;
    width: 100%;
    height: 44%;
    border-radius: 12%;
    filter: drop-shadow(0 26px 22px black);}
.iCa2{
        margin-top: -76%;
        margin-left: 0%;
        width: 100%;
        height: 46%;
        opacity: 0.0;
        border-radius: 12%;
        transition: 1s all;
        filter: drop-shadow(0 26px 22px black);}
.iCa2:hover{
  opacity: 1;
  height: 50%;
  transform: scale(1.1);} 
.catalogoTitulo h4{
    color: #323232;
    letter-spacing: 2px;
    font-size: 15px; 
    margin: 6% 0 0 0;}
.catalogoTitulo h3{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    margin: 0 0 12 0;
    letter-spacing: 20%;
    flex-basis: 50%;
    font-size: 20px;
    font-weight: bold;}
.precio{
    font-size: 25px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;}
.btn-compra{
    display: inline-block;
    width: 50%;
    padding: 13px 15px;
    font-family: "Poppins", sans-serif;
    border: 1px solid black;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 20%;
    border-radius: 10%;
    color: white;
    text-decoration: none;
    margin-top: 40px;}
footer{
display:flex ;
justify-content:center ;
width: 100%;
min-height: 100px;
padding: 20px 50px;
position: relative;
background-color: #EC1C24;
color: aliceblue;
flex-direction: column;
align-items:center ;}
footer .info{
    display:flex ;}
footer li{
    list-style: none;
    text-decoration: none;}
footer li a{
    text-decoration: none;
    color: aliceblue;}
.copyright{
 text-align:center;}
footer .wave{
    position: absolute;
    top:-80px ;
    left: 0%;
    width: 100%;
    height: 100px;
    background: black url(categoria/wave2.png);
    background-size: 1000px 100px;}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animationWave 6s linear infinite;} 
footer .wave#wave2{
    z-index: 999;
    opacity: 0.4;
    bottom: 10px;
    animation: animationWave_2 4s linear infinite;} 
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.6;
    bottom: 15px;
    animation: animationWave 2s linear infinite;} 
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animationWave_2 1s linear infinite;} 
@keyframes animationWave_2 {
    0%{
        background-position-x: 1000px ;
    }
    100%{
        background-position-x: 0px ;}}
@keyframes animationWave {
    0%{
        background-position-x: 0px ;
    }
    100%{
        background-position-x: 1000px;}}
@keyframes textoAnimacion{
    to{
        background-position: 200% center;}}
@keyframes scrollI {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);}    
    100%{
        -webkit-transform: translateX(calc(-250px * 8));
        transform: translateX(calc(-250px * 8));}}   
@keyframes scroll {
    0%{
        -webkit-transform: translateY(-120px);
        transform: translateY(-120px);}    
    100%{
        -webkit-transform: translateY(calc(36px));
        transform: translateY(calc(36px));}}    