@media only screen and (max-width: 1070px){
    .targetaIP{
        width: 80%;
        margin: 0 0 0 15%;
        display: grid;
        grid-template-columns: repeat(2,1fr);}}
@media only screen and (max-width: 600px){
    header{
        display: flex;
        overflow: hidden;
        justify-content:center ;
        height: 86.5px;}
    .cabeza .logoP{
      width: 60.5%;}
    .cabeza .menu{
        display: flex;
        width: 182%;
        color: aliceblue;
            text-decoration: none;
            font-weight: 400;
            overflow: hidden;
            padding: 0 0 ;}
    .menu .hb{
        padding: 18px 0 0 0;}
    .imaHouse{
        width: 50px;}                  
    .targetaIP{
        width: 100%;
        margin: 0 0 0 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);}}