@media only screen and (min-width:376px) and (max-width:390px){
    .anuncioI{
        width: 13%;} 
     header{
        height: 14.5%;}
    .cabeza .logoP{
        width: 96.5%;}
    .cabeza .menu{
        display: flex;
        width: 380%;
        color: aliceblue;
        text-decoration: none;
        font-weight: 400;
        overflow: hidden;
        padding: 24 4;}
    .menu .hb{
        padding: 0 0 0;}
    .menu a{
        font-size: 11px;}
    .imaHouse{
        width: 32px;}    
    .span1{ 
        top: 96px;
        left: 53%;
        width: 45.5%;
        height: 3px;
        position: absolute;
        background: red;
        transition: all 3s;} 
    .ATexto{font-size: 1.6em;}
    .swiper-slide{
        width: 220px;
        height: 390px;
        background-color: #323232;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        padding: 26px;
        text-align: center;}                 
    .targetaIP{
        width: 100%;
        margin: 20 54;
        display: grid;
        grid-template-columns: repeat(1,1fr);}
    .c1{
        width: 300px;}
    .products img:hover{
        cursor: crosshair;
        width: 240px;
        border-radius: 6%;
        opacity: 1;
        filter: contrast(120%);}
    .cuaRedes{
        background-color: black;
        display:grid;
        width: 100%;
        padding: 0 20 3 20;
        height: 1036px;}
    .tarjeta1{
        border-radius: 2rem;
        width: 100%;
        border-radius: 10%;
        position: relative;
        margin: -6px 1px;
        overflow: hidden;
        padding: 0 20px 0;
        justify-content: center;
        align-items: center;}
    .tarjeta1::before{
        content: '';
        border-radius: 10%;
        position: absolute;
        height: 366px;
        width: 396px;
        z-index: 0;
        background-image: conic-gradient(#12c2e9, #77dcf3 0%, transparent);
        animation: rotemami 6s linear infinite;}
    .tarjeta1::after{
        content: "";
        height: 336px;
        width: 336px;
        left: 2%;
        top: 1%;
        bottom: 2%;
        position: absolute;
        border-radius: 10px;
        background-color: #000;}
    .tarjeta2{
        border-radius:2rem;
        width: 100%;
        height: 306px;
        border-radius: 10%;
        position: absolute;
        margin: 0px 1px;
        overflow: hidden;
        z-index: 1;
        padding: 0 20px 0;
        justify-content: center;
        align-items: center;} 
    .nomredes h3{
          bottom: 45px;
          font-size: 13.3px;
          padding: 0 0;}  
    .botonR{
          display: flex;}
    .liR{
          list-style: none;
          margin: 16 14px;}
    .liR2{
          list-style: none;
          margin: 16 14px;}
    .liR3{
          list-style: none;
          margin: 0 14px;}
    .imaR{
          font-size: 40px;
          padding: 0 16px;}
    .botonA{
          text-decoration: none;
          font-size: 16px;
          color: black;
          background-color:white;
          width: 180px;
          height: 60px;
          display: flex;
          align-items: center;
          transform: rotate(-30deg) skew(25deg);
          box-shadow: -20px 20px 10px rgba(201, 197, 197, 0.5);}
      footer{
          padding: 20 0;} 
      footer .info{
        display: inline-block;
      }    
    #bloque1{
        display: block;
        justify-content: center ;
        align-items: center;
        padding: 6 48}    
    #bloque2{
        display: inline-block;}
    #bloque3{
        display: inline-block;}}  