@media only screen and (min-width:1231px) and (max-width:1328px){
    .cabeza .logoP{
        width: 60.5%;}
    .cabeza .menu{
        display: flex;
        width: 182%;
        color: aliceblue;
        text-decoration: none;
        font-weight: 400;
        overflow: hidden;
        padding: 8 0 ;}
    .menu .hb{
        padding: 40px 0 0 76px;}
    .menu a{
        font-size: 15px;}
    .imaHouse{
        width: 66px;}    
    .span1{ 
        top: 102px;
        left: 43%;
        width: 55.5%;
        height: 3px;
        position: absolute;
        background: red;
        transition: all 3s;}              
    .targetaIP{
        width: 100%;
        margin: 20 0 0 22;
        display: grid;
        grid-template-columns: repeat(4,1fr);}
    .cuaRedes{
        display:flex;
        width: 100%;
        padding: 0 0 0 10;
        height: 430px;}
    .tarjeta1{
        border-radius: 6rem;
        width: 100%;
        border-radius: 10%;
        position: relative;
        margin: 0px 0px;
        overflow: hidden;
        padding: 0 20;
        justify-content: center;
        align-items: center;}
    .tarjeta1::after{
        width: 390px;}
    .tarjeta2{
        border-radius:2rem;
        width: 100%;
        height: 354px;
        border-radius: 10%;
        position: absolute;
        margin: 0 0;
        overflow: hidden;
        z-index: 1;
        padding: 0 0 0;
        justify-content: center;
        align-items: center;}
    .nomredes h3{
        bottom: 45px;
        font-size: 20.4px;}  
    .liR{
        list-style: none;
        margin: 0 81px;}
    .liR2{ 
        list-style: none;
        margin: 0 81px;}
    .liR3{
        list-style: none;
        margin: 0 81px;} }  